In [9]:
import pandas as pd

In [10]:
pd.__version__

'1.1.3'

In [11]:
obje=pd.Series([1,"Ali",3.5,"Hey"])
obje

0      1
1    Ali
2    3.5
3    Hey
dtype: object

In [13]:
obje[3]

'Hey'

In [14]:
obje.values

array([1, 'Ali', 3.5, 'Hey'], dtype=object)

In [15]:
obje=pd.Series([1,"Ali",3.5,"Hey"],index=["a","b","c","d"])
obje

a      1
b    Ali
c    3.5
d    Hey
dtype: object

In [16]:
obje["b"]

'Ali'

In [17]:
obje.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
puan={"Ali":90, "Can":80,"Efe":75,"Buse":95}
nt=pd.Series(puan) 
"""sözlük veri yapısını series veri yapısına dönüştürdük"""
nt

Ali     90
Can     80
Efe     75
Buse    95
dtype: int64

In [26]:
nt["Can"]

80

In [27]:
nt[nt>85]

Ali     90
Buse    95
dtype: int64

In [30]:
"""notları 85ten küük olanlar true"""
nt<85

Ali     False
Can      True
Efe      True
Buse    False
dtype: bool

In [31]:
nt["Can"]=60

In [32]:
nt

Ali     90
Can     60
Efe     75
Buse    95
dtype: int64

In [33]:
nt[nt<80]=83

In [34]:
nt

Ali     90
Can     83
Efe     83
Buse    95
dtype: int64

In [35]:
"Efe" in nt

True

In [36]:
"Ahmet" in nt

False

In [37]:
nt/10

Ali     9.0
Can     8.3
Efe     8.3
Buse    9.5
dtype: float64

In [38]:
nt**2

Ali     8100
Can     6889
Efe     6889
Buse    9025
dtype: int64

In [39]:
nt.isnull()

Ali     False
Can     False
Efe     False
Buse    False
dtype: bool