In [1]:
import pandas as pd
import numpy as np

In [2]:
obje=pd.Series(np.arange(5),index=["a","b","c","d","e"])
obje

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [3]:
obje["c"]

2

In [4]:
obje[2]

2

In [5]:
obje[0:3]

a    0
b    1
c    2
dtype: int32

In [6]:
obje[["a","c"]]

a    0
c    2
dtype: int32

In [8]:
obje[[0,2]]

a    0
c    2
dtype: int32

In [9]:
obje[obje<2]

a    0
b    1
dtype: int32

In [10]:
obje["a":"c"]

a    0
b    1
c    2
dtype: int32

In [14]:
obje["b":"c"]=5 #b'den c'yre kadar 5 değeri atanır
obje

a    5
b    5
c    5
d    3
e    4
dtype: int32

In [20]:
veri=pd.DataFrame(np.arange(16).reshape(4,4),index=
                  ["Bursa","Ankara","Rize","İstanbul"],
                  columns=["bir","iki","üç","dört"])
veri

          bir  iki  üç  dört
Bursa       0    1   2     3
Ankara      4    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

In [22]:
veri["iki"] #2 ismindeki sütunun değerlerini verir

Bursa        1
Ankara       5
Rize         9
İstanbul    13
Name: iki, dtype: int32

In [24]:
veri[["bir","iki"]] #birden fazla sütun değerlerini verir
# !! birden fazla sütun için liste iinde liste yapısını kullandık

          bir  iki
Bursa       0    1
Ankara      4    5
Rize        8    9
İstanbul   12   13

In [37]:
veri[:3] #0,1 ve 2. satırlar

        bir  iki  üç  dört
Bursa     0    1   2     3
Ankara    4    5   6     7
Rize      8    9  10    11

In [36]:
veri[2:4] #2,3 ve 4. satırlar

          bir  iki  üç  dört
Rize        8    9  10    11
İstanbul   12   13  14    15

In [40]:
veri[veri["dört"]>5] #4. sütundaki 5'den büyük değerler

          bir  iki  üç  dört
Ankara      4    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

In [43]:
veri[veri<5]=0 #veri setindeki 5'den küçük değerlere 0 atandı
veri

          bir  iki  üç  dört
Bursa       0    0   0     0
Ankara      0    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

In [44]:
veri.iloc[1] #1. indeksteki satırın(Ankara) değerleri

bir     0
iki     5
üç      6
dört    7
Name: Ankara, dtype: int32

In [45]:
veri.iloc[1,[1,2,3]] #1.indekse sahip satırın 1,2 ve 3. indekse sahip sütunları

iki     5
üç      6
dört    7
Name: Ankara, dtype: int32

In [46]:
veri.iloc[[1,3],[1,2,3]] #1 ve 3. indekse sahip satırların 1,2 ve 3. indekslere sahip sütunları

          iki  üç  dört
Ankara      5   6     7
İstanbul   13  14    15

In [47]:
veri.loc["Rize",["bir","iki"]] #Rize satırındaki "bir" ve "iki" etiklerine sahip sütunların değerleri

bir    8
iki    9
Name: Rize, dtype: int32

In [49]:
veri.loc[:"Rize","dört"] #Rize'ye kadar olan satırların "dört" sütun değerleri

Bursa      0
Ankara     7
Rize      11
Name: dört, dtype: int32

In [50]:
veri=pd.Series(np.arange(5))
veri

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [ ]:
#veri[-1] hata verir

In [51]:
veri=pd.Series(np.arange(5), index=["a","b","c","d","e"])
veri

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [52]:
veri[-1]

4