In [6]:
import pandas as pd

In [7]:
s=pd.Series([1,2,3,4],index=["a","b","c","d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
s["a"]

1

In [10]:
s2=s.reindex(["b","d","a","c","e"]) #yeni indeks atama
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [11]:
s3=pd.Series(["mavi","sarı","mor"],index=[0,2,4])
s3

0    mavi
2    sarı
4     mor
dtype: object

In [13]:
s3.reindex(range(6),method="ffill") #boş değerleri doldurmak için

0    mavi
1    mavi
2    sarı
3    sarı
4     mor
5     mor
dtype: object

In [14]:
# !!Series da olduğu gibi dataFrame için de 
# boş değerleri doldurmak için reindex metodu kullanılır

#bunun için öncelikle numpy kütühanesini import ediyoruz

In [15]:
import numpy as np

In [18]:
df=pd.DataFrame(np.arange(9).reshape(3,3),
   index=["a","c","d"],
   columns=["ali","efe","can"])
df

   ali  efe  can
a    0    1    2
c    3    4    5
d    6    7    8

In [19]:
df2=df.reindex(["d","c","b","a"])
df2

   ali  efe  can
d  6.0  7.0  8.0
c  3.0  4.0  5.0
b  NaN  NaN  NaN
a  0.0  1.0  2.0

In [21]:
#sütunlar "columns" ile indekslenir 
isim=["efe","nur","ali"]
df.reindex(columns=isim)

   efe  nur  ali
a    1  NaN    0
c    4  NaN    3
d    7  NaN    6

In [22]:
#"loc" metodu ile satırları yeniden indekseleyebiliriz
df.loc[["c","d","a"]]

   ali  efe  can
c    3    4    5
d    6    7    8
a    0    1    2

In [26]:
#"drop" metodu ile istediğimiz satır ve sütunu silebiliriz
s=pd.Series(np.arange(5.),index=["a","b","c","d","e"])
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [25]:
yeni_s=s.drop("b")
yeni_s

a    0
c    2
d    3
e    4
dtype: int32

In [27]:
s.drop(["c","d"])

a    0.0
b    1.0
e    4.0
dtype: float64

In [29]:
#DataFrame'de drop kullanımı

veri=pd.DataFrame(np.arange(16).reshape(4,4),
                  index=["ali","can","efe","nur"],
                  columns=list("ABCD"))
veri

      A   B   C   D
ali   0   1   2   3
can   4   5   6   7
efe   8   9  10  11
nur  12  13  14  15

In [30]:
#ali ve efe satırlarını silelim
veri.drop(["ali","efe"])

      A   B   C   D
can   4   5   6   7
nur  12  13  14  15

In [34]:
#sütun silmek için axis=1,
#satır simek için axis=0 parametleri kullanılır

veri.drop("A",axis=1)

      B   C   D
ali   1   2   3
can   5   6   7
efe   9  10  11
nur  13  14  15

In [37]:
veri.drop("ali",axis=0)

      A   B   C   D
can   4   5   6   7
efe   8   9  10  11
nur  12  13  14  15

In [38]:
veri

      A   B   C   D
ali   0   1   2   3
can   4   5   6   7
efe   8   9  10  11
nur  12  13  14  15

In [40]:
veri.mean()  #sütunların ortalamaları

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [41]:
veri.mean(axis=0)

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [42]:
veri.mean(axis=1) #satirlarin ortalamaları

ali     1.5
can     5.5
efe     9.5
nur    13.5
dtype: float64

In [44]:
#axis için;
#1 yerine "columns",
#0 yerine "index" değeri kullanilabilir

veri.mean(axis="columns")

ali     1.5
can     5.5
efe     9.5
nur    13.5
dtype: float64