In [1]:
import pandas as pd ; import numpy as np

In [54]:
s1=pd.Series(np.arange(4),index=["a","c","d","e"])
s2=pd.Series(np.arange(5),index=["a","c","e","f","g"])

In [3]:
s1

a    0
c    1
d    2
e    3
dtype: int32

In [4]:
s2

a    0
c    1
e    2
f    3
g    4
dtype: int32

In [6]:
s1+s2

a    0.0
c    2.0
d    NaN
e    5.0
f    NaN
g    NaN
dtype: float64

In [8]:
df1=pd.DataFrame(np.arange(6).reshape(2,3),columns=list("ABC"),
                 index=["ali","efe"])
df2=pd.DataFrame(np.arange(9).reshape(3,3),columns=list("ACD"),
                 index=["ali","can","efe"])

In [9]:
df1

     A  B  C
ali  0  1  2
efe  3  4  5

In [10]:
df2

     A  C  D
ali  0  1  2
can  3  4  5
efe  6  7  8

In [11]:
df1+df2

       A   B     C   D
ali  0.0 NaN   3.0 NaN
can  NaN NaN   NaN NaN
efe  9.0 NaN  12.0 NaN

In [13]:
# eksik değerlere 0 gibi değerler atayabiliriz

df1.add(df2,fill_value=0)
#eşleşmeyen değerler 0 kabul edilerel işlem yapılıyor

       A    B     C     D
ali  0.0  6.0   3.0   7.0
can  8.0  NaN   9.0  10.0
efe  9.0  9.0  12.0  13.0

In [24]:
1/df1

            A         B         C
ali       inf  0.333333  0.166667
efe  0.111111  0.083333  0.066667

In [29]:
df1*3  # çarpmada hata var

      A   B   C
ali   0   9  18
efe  27  36  45

In [30]:
df1.mul(3)  # çarpmada hata var

      A   B   C
ali   0   9  18
efe  27  36  45

In [31]:
df2

     A  C  D
ali  0  1  2
can  3  4  5
efe  6  7  8

In [32]:
s=df2.iloc[1]  #1. indeksli satırı("can") s'ye atıyoruz
s

A    3
C    4
D    5
Name: can, dtype: int32

In [33]:
df2-s #indeksleri eşleşen değerler arasında çıkarım 
#df2'nin satırlarından s'in satırları çıkarılıyor

     A  C  D
ali -3 -3 -3
can  0  0  0
efe  3  3  3

In [35]:
s2=df2["A"]
s2

ali    0
can    3
efe    6
Name: A, dtype: int32

In [36]:
df2.sub(s2,axis="index")  #df2'nin sütunlarından s2 sütunları çıkarılıyor

     A  C  D
ali  0  1  2
can  0  1  2
efe  0  1  2

In [41]:
vs=pd.DataFrame(np.random.randn(4,3),columns=list("ABC"),
                index=["ali","berk","can","efe"])
vs

             A         B         C
ali   0.721148  2.303910  0.343652
berk  0.776261 -0.768733 -1.866251
can   1.424579 -0.693881  0.749815
efe  -0.374774 -2.520257  0.605591

In [42]:
np.abs(vs)  #mutlak değer

             A         B         C
ali   0.721148  2.303910  0.343652
berk  0.776261  0.768733  1.866251
can   1.424579  0.693881  0.749815
efe   0.374774  2.520257  0.605591

In [43]:
# !! fonksiyon uygulamak için "apply" metodu kullanılır

In [44]:
f=lambda x:x.max()-x.min()  #bu fonskiyon veri setindeki her bir sütundaki max değerden min değeri çıkarır

In [45]:
vs.apply(f)

A    1.799353
B    4.824167
C    2.616067
dtype: float64

In [46]:
#her bir satıra bu fonskiyonu uygulamak için;
#axis="columns" veya axis=1 yazılır

vs.apply(f,axis=1)

ali     1.960258
berk    2.642512
can     2.118460
efe     3.125848
dtype: float64

In [48]:
def f(x):          #kendi fonksiyonumuz
    return x**2

In [49]:
vs.apply(f) #veri setindeki her bir elemanın karesi alınır

             A         B         C
ali   0.520055  5.308001  0.118097
berk  0.602581  0.590951  3.482894
can   2.029425  0.481471  0.562223
efe   0.140456  6.351696  0.366740