In [1]:
import pandas as pd ; import numpy as np

In [4]:
df=pd.DataFrame([[2.4,np.nan],[6.3,-5.4],[np.nan,np.nan],
                [0.75,-1.3]],
               index=["a","b","c","d"],
               columns=["bir","iki"])
df

    bir  iki
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [7]:
df.sum(axis=0)  #veya axis="index" dataFrame'deki her bir sütundaki değerleri toplar

bir    9.45
iki   -6.70
dtype: float64

In [8]:
df.sum(axis=1) # veya axis="columns" dataFrame'deki her bir satırdaki değerleri toplar

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [10]:
df.mean(axis="columns")  #satırdaki değerlerin ortalaması

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [11]:
df.mean(axis=1, skipna=False)  #eksik veri olanların ortalmaları hesaplamaz

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [14]:
df.idxmax()   # veya df.idxmax(axis=0); herbir sütundaki max değere sahip indeksi verir

bir    b
iki    d
dtype: object

In [15]:
df.idxmin()   # veya df.idxmax(axis=0); herbir sütundaki min değere sahip indeksi verir

bir    d
iki    b
dtype: object

In [16]:
df.cumsum()  #herbir sütundaki değerler sırayla toplanır

    bir  iki
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [17]:
df.describe()   #veri setinin özet bilgileri

#mean: ortalama
#std: standart sapma

         bir       iki
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [18]:
# !!! "Korelasyon" iki değişken arasındaki ilişkiyi gösterir

In [30]:
iris=pd.read_csv("8_iris.data")

In [31]:
iris.head()

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni,Turu
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [36]:
iris[" Tac_yaprak_boyu"].corr(iris[" Tac_yaprak_eni"])
#corr: iki değişken arasındaki korelasyon katsayısını verir
#korelasyon katsaysı 0-1 arasındadır. 1'e ne kadar yakınsa o kadar mükemmele yakındır

0.9627570970509662

In [37]:
iris.corr()

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni
Canak_yaprak_boyu,1.000000,-0.109369,0.871754,0.817954
Canak_yaprak_eni,-0.109369,1.000000,-0.420516,-0.356544
Tac_yaprak_boyu,0.871754,-0.420516,1.000000,0.962757
Tac_yaprak_eni,0.817954,-0.356544,0.962757,1.000000

In [38]:
iris.cov()

# ! cov() metodu, iki degiskenin birlikte nasil degistigini gosteren 
#kovaryans degerini verir.

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni
Canak_yaprak_boyu,0.685694,-0.039268,1.273682,0.516904
Canak_yaprak_eni,-0.039268,0.188004,-0.321713,-0.117981
Tac_yaprak_boyu,1.273682,-0.321713,3.113179,1.296387
Tac_yaprak_eni,0.516904,-0.117981,1.296387,0.582414

In [40]:
iris.corrwith(iris.Canak_yaprak_boyu)

Canak_yaprak_boyu    1.000000
 Canak_yaprak_eni   -0.109369
 Tac_yaprak_boyu     0.871754
 Tac_yaprak_eni      0.817954
dtype: float64

In [42]:
s=pd.Series(["b","b","b","b","c","c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [44]:
s.unique()

array(['b', 'c', 'a'], dtype=object)

In [46]:
s.value_counts()   #herbir değerin sıklığı

b    4
a    3
c    2
dtype: int64

In [50]:
x=s.isin(["b","c"])  #satırda be ve c var mi?
x

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [52]:
s[x]   #true olanlar

0    b
1    b
2    b
3    b
4    c
5    c
dtype: object